<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SDM-AI Retinopathy Applications</title>
    <link rel="stylesheet" href="/static/css/all.css" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <style>
      /* Darker background on mouse-over */
      .btn:hover {
        background-color: RoyalBlue;
      }
    </style>
  </head>

  <script>
    var loadFile = function (event) {
      var lbl = document.getElementById("lbl_file");

      lbl.innerText = event.target.files[0].name;
    };
  </script>
  <body
    style="background-color: black; margin: 0; height: 100%; overflow: hidden"
  >
    <header>
      <!-- Fixed navbar -->
      <nav
        id="nav"
        class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
        style="padding: 0px"
      >
        <a class="navbar-brand" href="#" style="padding: 0px"
          ><img
            src="/static/images/logo.png"
            alt="sdm"
            style="
              max-width: 30%;
              height: auto;
              margin-left: 0px;
              margin-right: auto;
            "
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto"></ul>
        </div>
      </nav>
    </header>
    <!-- Begin page content -->
    <main
      role="main"
      class="container-fluid"
      style="
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        height: 100%;
      "
    >
      <div class="row" style="padding-top: 100px">
        <div class="col-sm-12" style="text-align: center">
          <p class="lead" style="color: rgb(241, 238, 238)">
            SDM Online Report
          </p>
          <p class="lead" style="color: rgb(241, 182, 88)">{{ msg }}</p>
          <small style="color: rgb(241, 238, 238)"
            >For more info, please visit
            <a href="http://www.sdm.sa" target="_blank">www.sdm.sa</a></small
          >
        </div>
      </div>
    </main>
    <footer class="footer" style="background-color: rgb(14, 14, 14)">
      <div class="container" style="text-align: center">
        <span class="text-muted">@ SAUDI DEVELOPMENT MED (SDM)</span>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="/static/js/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
